<div class="row carousel-holder" style="margin-left:12%; width:100%; height:40%">
 <div class="col-md-9">
 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
 <ol class="carousel-indicators">
 <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
 <li data-target="#carousel-example-generic" data-slide-to="1"></li>
 <li data-target="#carousel-example-generic" data-slide-to="2"></li>
 <li data-target="#carousel-example-generic" data-slide-to="3"></li>
 <li data-target="#carousel-example-generic" data-slide-to="4"></li>
</ol>

 <div class="carousel-inner">
 <div class="item active">
 <%= image_tag "aa.jpg", class: "slide-image" %>
 <div class="carousel-caption">
 <h3>Mercedes-Benz GL63</h3>
</div>
 </div>

  <div class="item">
  <%= image_tag "img2.jpg", class: "slide-image" %>
  
  <div class="carousel-caption">
  <h3> Ferrari F430</h3>
  </div>
  </div>
 
  <div class="item">
  <%= image_tag "a.jpg", class: "slide-image" %>
  <div class="carousel-caption">
  <h3> 

Bugatti Veyron EB 16.4 </h3>
  </div>
  </div>


  <div class="item">
  <%= image_tag "b.jpg", class: "slide-image" %>
  <div class="carousel-caption">
  <h3>Bugatti Veyron 
  </h3>
  </div>
  
  </div>


  <!--<div class="item">
  <%= image_tag "img9.jpg", class: "slide-image" %>
  <div class="carousel-caption">
  <h3>Mercedes-Benz GLA
   </h3>
  </div>
  </div> -->
  
  


  </div>

  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  </div>